h1 {
	font-size:1.5em;
}

body,input,select {
	font-size:1.5em;
	font-family:consolas;
}

button {
	font-size:1em;
}

input[type=text] {
	width:200px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number {
	display:inline-block;
	padding:3px;
}



button {
	border:1px solid #ccc;
	background-color:#eee;
	
}
button:hover {
	background-color:#dfdfdf;
button:active {
	position:relative;
	top:1px;
}