/* general */
body {
	font-family: Helvetica,sans-serif, arial;
	background: #efefef;
}



h1 {
	font-family: Serif, Helvetica;
	font-style: italic;
	font-weight: bold;
	font-size: 2.5em;
	text-shadow: 1px 1px 2px #fff;
	margin: 1em 5em 1em 5em;
	text-align: center;
	text-transform: uppercase;
	color: blue;
	border-bottom: 1px solid black;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
}

h2 {
	font-family: Serif, Helvetica;
	font-style: italic;
	font-weight: bold;
	font-size: 2em;
	text-shadow: 1px 1px 2px #fff;
	margin: 0em 5em 0em 5em;
	text-align: center;
	color: blue;
	
}

h3 {
	color: #000;
	font-family: Serif, Helvetica;
	font-size: 2em;
	font-weight: 700;
	text-shadow: 1px 1px 2px #fff;
	text-align: center;
}
h4 {
	color:black;
	font-size: 1.3em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin :0.5em 0em 0.2em 0em;
	text-align: left;
	text-shadow: 1px 1px 1px #fff;
	width: 100%;
}

ul li {
	font-family: serif,Helvetica;
	font-size: 1.2em;
}


table[name="version"] {
	margin:auto;
	height: 10px;
	width:40%;
	text-align:center;
	padding:5px;
	vertical-align:center;
	table-layout:fixed;
	border: 2px solid gray;
	border-radius:15px;
	border-spacing: 5px;
}

.index_table {
	font-family: Helvetica,Serif;
	font-size: 1.2em;
	text-align: center;
}

footer {
        
        background: #111;
        position: fixed;
        color:white;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
}

footer a:link,
footer a:visited
{
	color: #efefef;
}

a:link,
a:visited 
{
	color: blue;
}
/* practice_version.php */

#change_version {
	float:right;
	width:8%;
	font-size: 1.3em;
	text-align:center;
	padding:10px;
	vertical-align:center;
	border: 1.5px solid red;
	border-radius:15px;
	margin-right: 40px;
}

#features{
	border-bottom:1px dotted gray;
	margin-bottom: 10px;
}
#take_guess {
	margin-top:70px;
	position: absolute;
	font-family: Helvetica,Serif;
	margin-left: 60px;
	font-size: 1.2em;
	border-right:2px solid blue;
	padding-right: 100px;
}

#error{
	font-size: 1.2em;
	font-family: Helvetica,Serif;
	color: red;
}

#scratchpad{
	margin-top:30px;
}

#history {
	margin-top:60px;
	position: absolute;
	font-family: Helvetica,Serif;
	margin-left: 500px;
	font-size: 1.2em;
	padding:20px 20px 70px 20px;

}
#guesses {

	margin-left: 30px;
	line-height: 150%;
}

#results{
	position: absolute;
	margin-left:280px;
	font-family: Serif, Helvetica;
	font-style: italic;
	font-weight: bold;
	font-size: 1.6em;
	text-shadow: 1px 1px 2px #fff;
	color: #9400D3;
	margin-top:22px;
}

.number {
	display:inline-block;
	padding:5px;
	border:1px solid gray;
	font-family: Helvetica,Serif;
	font-size: 1.6em;
}

#number {
	margin:70px 10px 0px 940px;
	position: absolute;
	padding:10px 0px 10px 10px;
}



/* match_version */
.hint {
	margin:55px 10px 0px 940px;
	position: absolute;
	font-family: Helvetica,Serif;
	font-size: 1.2em;
	border:2px solid gray;
	padding:10px 0px 10px 10px;
	line-height: 150%;
	padding-bottom: 30px;

}

#hint{
	position: absolute;
	margin-left: 940px;
	font-family: Helvetica,Serif;
	font-size: 1.3em;
	color:#0059FF;
}

#result_hint1,
#result_hint2
{
	margin-top:5px;
	font-family: Helvetica,Serif;
	color: #800000;
	font-size: 1em;
}

.score{
	
	position: absolute;
	border:2px solid gray;
	color:#0059FF;
	font-family: Helvetica,Serif;
	font-size: 2.5em;
	width:65px;
	margin-left: 25px;
	text-align: center;
	padding: 5px;
}



/* button, input*/

input[type=text] {
	font-family: Helvetica,Serif;
	width:160px;
	margin-top:20px;
	font-size:1.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


button {
	border:1px solid #ccc;
	background-color:#eee;
	font-size:1em;
}
button:hover {
	background-color:#dfdfdf;
	button:active {
	position:relative;
	top:1px;
}

